In [1]:
import os
os.environ['DJ_HOST']="db.datajoint.com"
os.environ['DJ_USER']="microns"
os.environ['DJ_PASS']="microns2023"
os.environ['DATABASE_PREFIX']="microns_"

import datajoint as dj
from microns_phase3 import nda, utils

Connecting microns@db.datajoint.com:3306

/opt/conda/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
import pandas as pd
import numpy as np

In [3]:
scan_df = pd.DataFrame(nda.Scan & nda.ScanInclude)

In [24]:
scan_df

    session  scan_idx  nframes  nfields      fps
0         4         7    40000        8  6.30090
1         5         6    40000        8  6.30090
2         5         7    40000        8  6.30090
3         6         2    40000        8  6.30090
4         6         4    40000        8  6.30090
5         6         6    40000        8  6.30090
6         6         7    40000        8  6.30090
7         7         3    40000        8  6.30090
8         7         4    40000        8  6.30090
9         7         5    40000        8  6.30090
10        8         5    40000        8  6.30090
11        9         3    50000        6  8.61754
12        9         4    50000        6  8.61754
13        9         6    57000        4  9.62246

In [4]:
%%time 

for _, scan_row in scan_df.iterrows():
    scan_key = scan_row[["session", "scan_idx"]].astype(int).to_dict()

CPU times: user 8.99 ms, sys: 165 Âµs, total: 9.16 ms
Wall time: 8.89 ms

In [17]:
pupil_df = pd.DataFrame(nda.ManualPupil())

In [18]:
treadmill_df = pd.DataFrame(nda.Treadmill())

In [22]:
behavior_df = pd.merge(pupil_df, treadmill_df, on=["session", "scan_idx"])

In [23]:
out_path = f"../scratch/behavior"
behavior_df.to_feather(out_path, compression="zstd")

In [ ]:
scan_unit_df = pd.DataFrame(nda.ScanUnit())